@font-face {
  font-family: 'Avant Garde Book BT';
  font-style: normal;
  font-weight: normal;
  src: url('../public/fonts/AVGARDD_2.woff') format('woff');
}

/* width */
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  visibility: hidden;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(51, 51, 51); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

body {
  margin: 0;
  font-family: 'Avant Garde Book BT';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
